.venv/
.qodo/
.vscode/

secrets/
attachments/

logs/
**.log


!.gitkeep

**.env
**.**.env
**.log
**.crt
**.key
.venv
__pycache__/
__marimo__/

dataset_emails/
dataset/
debug/
app.log

*.bkp
private/

*.exe
build/
