POSTGRES_USER=myuser
POSTGRES_PASSWORD=changeme
POSTGRES_DB=mydatabase
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=orders-attachments

YANDEX_CLIENT_ID=
YANDEX_CLIENT_SECRET=
YANDEX_TOKEN_URL=